     <table style="margin-top:10px; background-image: url(email_background.png); background-repeat:space;">
       <tr>
         <td>
           <a href="https://clickbebe.net" target="_blank">
             <img src="email_logo.png">
           </a>
         </td>
         <td style="vertical-align:bottom;">
           <h1 style="font-family: Helvetica, Sans Serif; font-weight:normal; color:#00B4D1; font-size:26px; margin:4px;">Daiana Buffulin</h1>
           <p style="font-family: Helvetica, Sans Serif; font-weight:500; color:#00B4D1; font-size:16px; margin:4px;"> Ux Designer</p>
           <p style="font-family: Helvetica, Sans Serif; font-weight:400; color:#9CA3AD; font-size:14px; margin: 10px 4px 4px 5px;">tel: 11 12345 6789</p>
         </td>
       </tr>

       <tr>
         <td>
         <a href="https://clickbebe.net" target="_blank" style="text-decoration:none;"><p style="font-family: Helvetica, Sans Serif; font-weight:300; color:#9CA3AD; font-size:12px; text-align: center; margin:2px;    padding: 2px;">www.clickbebe.net</p></a>
          </td>
       </tr>

       <tr>
          <td style="text-align:center;">
                  <a href="https://www.facebook.com/portalclickbebe/" target="_blank">
                    <img src="email_fb.png" style="margin:0px 0px 0px 4px;"></a>
                  <a href="https://twitter.com/portalclickbebe" target="_blank">
                    <img src="email_twitter.png"></a>
                  <a href="https://www.instagram.com/portalclickbebe/" target="_blank">
                <img src="email_insta.png"></a>
              </td>
            </tr>
     </table>
